
$color-black-0: #000;
$color-black-1: #111;
$color-black-2: #222;
$color-black-3: #333;
$color-black-u: #171717;

$color-white-0: #fff;
$color-white-1: #fefefe;
$color-white-2: #eee;
$color-white-3: #efefef;
$color-white-alpha:rgba(255,255,255,0.75);

$color-red: #b71c1c;
$color-red-alpha: rgba(183,28,28,0.75);