@media screen and (max-width: 480px){
	#grid[data-columns]::before {
		content: '2 .col-xs-6.col';
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
	#grid[data-columns]::before {
		content: '3 .col-sm-4.col';
	}
}

@media screen and (min-width: 769px) {
	#grid[data-columns]::before {
		content: '6 .col-sm-2.col';
	}
}

