#media-container {

	max-width:640px;
	margin:0 auto;

	#header-image {
		width: 100%;
		margin-bottom:20px;
		height:200px;
		background-position:center;
		background-size:cover;
		background-repeat:no-repeat;
	}

	#content {
		width: 100%;
 		white-space: pre-wrap;
 		margin-bottom:20px;
 		padding:0 30px;
	}
}