<div id="creative-container">
	<h2 class="page-header"><%= @creative.title %></h2>
	<div class="row no-margin">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
			<div id="header-image" class="img-protected">
				<img src="<%= @creative_images[0].image rescue nil %>" />
				<div class="img-protector"></div>
			</div>
		</div>
	</div>
	<div id="content"><%= @creative.content %></div>
</div>

