<h2 class="page-header"><%= @creative.title %></h2>
<div id="creative-container">
	<div id="header-image" class="banner" style="background-image:url(<%= @creative_images[0].image rescue nil %>)"></div>
	<div id="content"><%= @creative.content %></div>
</div>

