<h2 class="page-header"><%= @film_production.title %></h2>
<div id="film-production-container">
	<div id="header-image" class="banner" style="background-image:url(<%= @film_production_images[0].image rescue nil %>)"></div>
	<div id="content"><%= @film_production.content %></div>
</div>

